<!-- logo-swiper.html -->
<div
  class="swiper"
  #swiperContainer
  [class.swiper--mobile-padding]="isMobileDevice"
>
  <div class="swiper-wrapper">
    @for (thumbnailData of items; track thumbnailData.productId + '_' + $index)
    {
    <a
      class="swiper-slide"
      (click)="onClick(thumbnailData)"
      [attr.aria-label]="thumbnailData.productLogoAltText || 'Produkt öffnen'"
      (click)="$event.stopPropagation()"
    >
      <img
        class="logo__shadow"
        [src]="
          'img/' + productPath + '/logos/' + thumbnailData.productLogoFilename
        "
        [alt]="thumbnailData.productLogoAltText || 'Logo'"
        loading="lazy"
        decoding="async"
      />
    </a>
    }
  </div>

  @if (!isMobileDevice) {
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
  }
</div>
