<!-- product-details -->
@if (item()) {
<header>
  <div class="app__title">
    <h1>{{ item()!.productName }}</h1>
    <span>My {{ item()!.productName }} GmbH</span>
  </div>
  <img class="logo__shadow"
    [src]="'img/' + productBasePath + '/logos/' + item()!.productLogoFilename"
    [alt]="item()!.productLogoAltText + ' Logo' || item()!.productId"
  />
</header>
<app-preview-swiper
  [productPreviewsPath]="item()?.productPreviewsPath || ''"
></app-preview-swiper>
<p>{{ item()!.productDescription }}</p>
} @else {
<p>No entry found (ID: {{ productId() }})</p>
}
