header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;

  img {
    width: 240px;
    border-radius: 20%;
    transform: translateY(0);
    cursor: default;
  }
}

@media (width < 1280px) {
  header {
    img {
      width: 180px;
    }
  }
}