header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 32px;
  margin-bottom: 32px;

  .app__info {
    span {
      color: light-dark(#01875f, #4de1b2);
      font-weight: 500;
    }
  }

  img {
    width: 240px;
    border-radius: 20%;
    transform: translateY(0);
    cursor: default;
  }
}

@media (width < 1280px) {
  header {
    img {
      width: 180px;
    }
  }
}

@media (width < 840px) {
  header {
    flex-direction: row-reverse;
    justify-content: start;
    img {
      width: 72px;
      margin: 7px 24px 0 0;
    }
  }
}
