<!-- product-details -->
@if (item()) {
<header>
  <div class="app__info">
    <h1>{{ item()!.productName }}</h1>
    <span>My {{ item()!.productName }} GmbH</span>
    <p class="descriptionDesktop">{{ item()!.productDescription }}</p>
    <p class="descriptionDesktop">{{ item()!.productDescription2 }}</p>
  </div>
  <img
    class="logo__shadow"
    [src]="'img/' + productBasePath + '/logos/' + item()!.productLogoFilename"
    [alt]="item()!.productLogoAltText + ' Logo' || item()!.productId"
  />
</header>
<p class="descriptionMobile">{{ item()!.productDescription }}</p>

@defer (on viewport; prefetch on idle) {
<app-preview-swiper
  [productPreviewsPath]="item()?.productPreviewsPath || ''"
></app-preview-swiper>
} @placeholder {
<div></div>
} @error {
<p>Could not load gallery.</p>
} } @else {
<p>No entry found (ID: {{ productId() }})</p>
}
