header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 32px;
  margin-bottom: 48px;

  .app__info {
    span {
      color: light-dark(#01875f, #4de1b2);
      font-weight: 500;
    }
  }

  img {
    width: 240px;
    border-radius: 20%;
    transform: translateY(0);
    pointer-events: none;
  }
}

.descriptionMobile {
  display: none;
}

@media (width < 1280px) {
  header {
    margin-bottom: 16px;

    img {
      width: 180px;
    }
  }
}

@media (width < 840px) {
  header {
    flex-direction: row-reverse;
    justify-content: start;
    gap: 0;
    margin-bottom: 16px;

    .app__info {
      .descriptionDesktop {
        display: none;
      }
    }

    img {
      width: 72px;
      margin: 7px 24px 0 0;
    }
  }

  .descriptionMobile {
    display: block;
  }
}

@media (width < 600px) {
  header {
    img {
      margin-right: 16px;
    }
  }
}
