// app.scss
@use "../styles/mixins" as custom-mixins;

mat-toolbar {
  @include custom-mixins.mat-theme-transition();
  display: flex;
  justify-content: space-between;

  box-shadow: 0 1px 2px
      color-mix(
        in srgb,
        light-dark(#000, #fff) 10%,
        light-dark(#faf9fd, #121316)
      ),
    0 6px 12px
      color-mix(
        in srgb,
        light-dark(#000, #fff) 10%,
        light-dark(#faf9fd, #121316)
      );
  position: relative;
  z-index: 1000;
}

mat-sidenav-container {
  --sidenav-width: 250px;

  @include custom-mixins.mat-theme-transition();
  height: calc(100vh - 64px);
  height: calc(100dvh - 64px);

  @media (width < 600px) {
    height: calc(100vh - 56px);
    height: calc(100dvh - 56px);
  }

  &.is-collapsed {
    --sidenav-width: 81px;
  }

  mat-sidenav {
    width: var(--sidenav-width);
    padding: 16px;
    transition: background-color 500ms cubic-bezier(0.2, 0, 0, 1),
      color 500ms cubic-bezier(0.2, 0, 0, 1),
      width 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    box-shadow: inset -3px 0 4px color-mix(in srgb, light-dark(#000, #fff) 6%, light-dark(#faf9fd, #121316)),
      inset -1px 0 1px color-mix(in srgb, light-dark(#000, #fff) 3%, light-dark(#faf9fd, #121316));
  }

  mat-sidenav-content {
    margin-left: 81px !important;
    padding: 30px 16px 16px 16px;
    box-sizing: border-box;
    padding-bottom: calc(16px + env(safe-area-inset-bottom));

    .sidenav-overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: light-dark(rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0.32));
      z-index: 2;
      opacity: 0;
      pointer-events: none;
      backdrop-filter: blur(3px);
      transition: opacity 400ms cubic-bezier(0.4, 0, 0.2, 1),
        backdrop-filter 400ms cubic-bezier(0.4, 0, 0.2, 1);
      &.active {
        opacity: 1;
        pointer-events: auto;
        transition: opacity 300ms cubic-bezier(0.05, 0.7, 0.1, 1),
          backdrop-filter 300ms cubic-bezier(0.05, 0.7, 0.1, 1);
      }
    }
  }
}
