@use "../styles/mixins" as custom-mixins;

mat-toolbar {
  @include custom-mixins.mat-theme-transition();
  display: flex;
  justify-content: space-between;

  box-shadow: 0 1px 2px
      color-mix(
        in srgb,
        light-dark(#000, #fff) 10%,
        light-dark(#faf9fd, #121316)
      ),
    0 6px 12px
      color-mix(
        in srgb,
        light-dark(#000, #fff) 10%,
        light-dark(#faf9fd, #121316)
      );
  position: relative;
  z-index: 1000;
}

mat-sidenav-container {
  @include custom-mixins.mat-theme-transition();
  height: calc(100vh - 64px);
  height: calc(100dvh - 64px);

  @media (width < 600px) {
    height: calc(100vh - 56px);
    height: calc(100dvh - 56px);
  }

  mat-sidenav {
    padding: 16px;
    transition: background-color 500ms cubic-bezier(0.2, 0, 0, 1),
      color 500ms cubic-bezier(0.2, 0, 0, 1),
      width 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    box-shadow: inset -3px 0 4px color-mix(in srgb, light-dark(#000, #fff) 6%, light-dark(#faf9fd, #121316)),
      inset -1px 0 1px color-mix(in srgb, light-dark(#000, #fff) 3%, light-dark(#faf9fd, #121316));
  }

  mat-sidenav-content {
    padding: 30px 16px 16px 16px;
    box-sizing: border-box;
    padding-bottom: calc(16px + env(safe-area-inset-bottom));
  }
}

// .android__height {
//   height: calc(100vh - 112px);
// }

// .iphone__height {
//   height: calc(100vh - 164px);
// }
