<div
  class="swiper"
  #swiperContainer
  [class.swiper--mobile-padding]="isMobileDevice"
>
  <div class="swiper-wrapper">
    @for (image of images; track image; let i = $index) {
    <a
      class="swiper-slide no__highlight"
      [attr.aria-label]="image || 'Preview'"
      (click)="onThumbClick($event, i)"
    >
      <img
        class="logo__shadow"
        [src]="imgSrc(image)"
        [alt]="image || 'Preview'"
      />
    </a>
    }
  </div>

  @if (!isMobileDevice) {
  <div class="swiper-button-prev" (click)="prevN(3)"></div>
  <div class="swiper-button-next" (click)="nextN(3)"></div>
  }
</div>

<ng-template #lightboxTpl>
  <div
    class="lightbox"
    [class.lightbox__mobile]="isMobileDevice"
    role="dialog"
    aria-modal="true"
    [attr.aria-label]="'Image ' + (lightboxIndex + 1) + ' of ' + images.length"
    tabindex="0"
    (keydown)="onLightboxKeydown($event)"
    (click)="onLightboxContainerClick($event)"
  >
    <!-- <button
      type="button"
      class="lightbox__btn lightbox__btn--close"
      aria-label="Close"
      (click)="closeLightbox($event)"
    >
      ×
    </button> -->
    <mat-icon
      class="lightbox__btn lightbox__btn--close no__highlight"
      [class.btn__mobile]="isMobileDevice"
      [fontSet]="'material-icons'"
      aria-label="Close"
      (pointerup)="onClosePointerUp($event)"
    >
      close
    </mat-icon>

    @if (!isMobileDevice && images.length > 1) {
    <!-- <button
      type="button"
      class="lightbox__btn lightbox__btn--prev"
      aria-label="Previous image"
      (click)="prevLightbox($event)"
    >
      ‹
    </button> -->
    <mat-icon
      class="lightbox__btn lightbox__btn--prev no__highlight"
      [fontSet]="'material-icons'"
      aria-label="Previous image"
      (click)="prevLightbox($event)"
    >
      chevron_left
    </mat-icon>
    }

    <div
      class="lb-viewport"
      [class.lb-viewport__mobile]="isMobileDevice"
      #lbViewport
      (pointerdown)="lbDragStart($event)"
      (pointermove)="lbDragMove($event)"
      (pointerup)="lbDragEnd($event)"
      (pointercancel)="lbDragCancel($event)"
      (click)="$event.stopPropagation()"
    >
      <div class="lb-track" #lbTrack (transitionend)="onTrackTransitionEnd()">
        <img
          class="lb-img"
          [class.lb-img__mobile]="isMobileDevice"
          [attr.draggable]="false"
          [src]="imgSrc(images[prevIndex])"
          [alt]="images[prevIndex] || 'Prev'"
        />
        <img
          class="lb-img lb-current"
          [class.lb-img__mobile]="isMobileDevice"
          [attr.draggable]="false"
          [src]="imgSrc(images[lightboxIndex])"
          [alt]="images[lightboxIndex] || 'Current'"
        />
        <img
          class="lb-img"
          [class.lb-img__mobile]="isMobileDevice"
          [attr.draggable]="false"
          [src]="imgSrc(images[nextIndex])"
          [alt]="images[nextIndex] || 'Next'"
        />
      </div>
    </div>

    @if (!isMobileDevice && images.length > 1) {
    <!-- <button
      type="button"
      class="lightbox__btn lightbox__btn--next"
      aria-label="Next image"
      (click)="nextLightbox($event)"
    >
      ›
    </button> -->
    <mat-icon
      class="lightbox__btn lightbox__btn--next no__highlight"
      [fontSet]="'material-icons'"
      aria-label="Previous image"
      (click)="prevLightbox($event)"
    >
      chevron_right
    </mat-icon>
    }
  </div>
</ng-template>
