@use "../../../../styles/variables" as var;

.swiper {
  overflow: hidden;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  padding: 16px 60px;
  margin: -16px;

  &.swiper--mobile-padding {
    padding: 16px;
  }

  .swiper-wrapper {
    overflow: visible;

    .swiper-slide {
      width: auto;

      img {
        width: 166px;
        height: 296px;
        object-fit: cover;
        border-radius: 8px;

        @media (width < 922px) {
          width: 83px;
          height: 148px;
        }
      }
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    /* Positionierung */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;

    /* Box-Modell */
    height: calc(100% - 62px);
    padding: 16px;

    /* Layout */
    display: flex;
    align-items: center;
    justify-content: center;

    /* Typo/Icon (Swiper-Variablen) */
    --swiper-navigation-color: light-dark(#5c5e69, #e3e2e6);
    --swiper-navigation-size: 0px;

    /* Interaktion */
    cursor: pointer;

    /* Style */
    background: light-dark(rgba(18, 19, 22, 0), rgba(18, 19, 22, 0.5));
    transition: background var.$mat-duration var.$mat-easing;
  }

  .swiper-button-prev {
    width: 28px;
    left: 0px !important;
  }

  .swiper-button-next {
    width: 28px;
    right: 0px !important;
  }
}

.lightbox {
  --lb-gap: 5px;
  position: relative;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90vw;
  max-height: 90vh;
  touch-action: pan-y;

  .lb-viewport {
    width: 90vw;
    max-height: 90vh;
    overflow: hidden;
    touch-action: pan-y; /* wir handeln X selbst */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .lb-track {
    display: flex;
    align-items: center;
    will-change: transform;
  }

  .lb-img {
    user-select: none;
    -webkit-user-drag: none;
    touch-action: none;
    width: 90vw; /* jede Seite so breit wie der Viewport */
    max-height: 90vh;
    object-fit: contain; /* zeigt das ganze Bild */
  }

  .lightbox__img {
    max-width: 90vw;
    max-height: 90vh;
    border-radius: 8px;
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.6);
  }

  .lightbox__btn {
    z-index: 1001;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    // border: none;
    background-color: rgba(0, 0, 0, 0.54);
    border-radius: 100%;
    // color: #fff;
    // font-size: 32px;
    // line-height: 1;
    // padding: 12px 16px;
    // border-radius: 8px;
    cursor: pointer;
    // user-select: none;
    // box-shadow: 0 0 4px rgba(0, 0, 0, 0.3), 0 2px 8px rgba(0, 0, 0, 0.25),
    //   0 0 0 1px rgba(255, 255, 255, 0.2) inset;

    &--prev {
      left: 0;
    }
    &--next {
      right: 0;
    }
    &--close {
      top: 0;
      right: 0;
      // transform: none;
      // font-size: 28px;
      // padding: 8px 12px;
    }

    // &:hover {
    //   background: rgba(255, 255, 255, 0.2);
    // }
  }
}

.lb-track {
  display: flex;
  align-items: center;
  will-change: transform;
  backface-visibility: hidden;
  transform: translate3d(var(--x, 0px), 0, 0); /* <- wir setzen --x per JS */
  gap: var(--lb-gap);
}

.lb-img {
  width: calc(90vw - var(--lb-gap));
  max-height: 90vh;
  object-fit: contain;
  user-select: none;
  -webkit-user-drag: none;
  touch-action: none;
}

/* optional flüssiger Snap */
.lb-track.is-snapping {
  transition: transform 260ms cubic-bezier(0.22, 0.61, 0.36, 1);
}
