@use "@angular/material" as mat;
@use "swiper/swiper-bundle.css";

html {
  color-scheme: light dark;
  @include mat.theme(
    (
      color: mat.$azure-palette,
      typography: Roboto,
      density: 0,
    )
  );
}

.darkMode {
  color-scheme: dark;
  @include mat.theme(
    (
      color: mat.$azure-palette,
      typography: Roboto,
      density: 0,
    )
  );
}

.lightMode {
  color-scheme: light;
  @include mat.theme(
    (
      color: mat.$azure-palette,
      typography: Roboto,
      density: 0,
    )
  );
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1 {
  margin-top: 0;

  @media (width < 840px) {
    margin-bottom: 8px;
  }

  @media (width < 600px) {
    font-size: 24px;
  }
}

h2 {
  margin-top: 28px;
}

h1,
h2 {
  font-weight: 500;
}

.no__highlight {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.logo__shadow {
  display: block;
  transition: box-shadow 180ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 180ms cubic-bezier(0.4, 0, 0.2, 1);
  will-change: box-shadow, transform;
  cursor: pointer;
  box-shadow: 0 3px 5px -1px color-mix(in srgb, light-dark(#000, #fff) 10%, light-dark(#faf9fd, #121316)),
    0 6px 10px 0
      color-mix(
        in srgb,
        light-dark(#000, #fff) 10%,
        light-dark(#faf9fd, #121316)
      ),
    0 1px 18px 0
      color-mix(
        in srgb,
        light-dark(#000, #fff) 6%,
        light-dark(#faf9fd, #121316)
      );
  &:hover,
  &:focus {
    box-shadow: 0 6px 7px -0.7px color-mix(in srgb, light-dark(#000, #fff) 10%, light-dark(#faf9fd, #121316)),
      0 10px 11.2px 0.7px
        color-mix(
          in srgb,
          light-dark(#000, #fff) 10%,
          light-dark(#faf9fd, #121316)
        ),
      0 2px 18.2px 1.4px
        color-mix(
          in srgb,
          light-dark(#000, #fff) 6%,
          light-dark(#faf9fd, #121316)
        );
    transform: translateY(-1px);
  }
}

.full-screen-lightbox {
  // Entfernt den Standard-Hintergrund des Dialogs
  background: transparent !important;
  // Setzt den Hintergrund der Lightbox auf Schwarz
  .mat-mdc-dialog-surface {
    background: rgba(0, 0, 0, 0);
    box-shadow: none !important;
    border-radius: 0 !important;
    padding: 0 !important; // Wichtig: Entfernt Dialog-Padding
  }
}
